.App {
  text-align: center;
}

.BoxS {
  width: 100%;
  height: 30vh;
}

#cor {
  width: 100vw;
  height: 5vh;
  font-size: 2.3em;
  letter-spacing: 0.03em;
  font-style: oblique;
  font-family: fantasy;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.Click {
  width: 7vw;
  height: 3.8vh;
  margin-left: 0.8em;
  border-radius: 3px;
  border: 1px solid #0d0d0e;
  color: #0d0d0e;
  font-size: 1em;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.FormEnter {
  width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.BoxEnter {
  font-size: 1.4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #6c90df;
  text-shadow: 1px 1px 1px black;
}

.Enter {
  margin-left: 0.4em;
  width: 13vw;
  height: 2.8vh;
  border-radius: 2px;
  border: 1px solid #6c90df;
}

.Text {
  color: #ee660b;
  text-shadow: 1px 1px 1px black;
  font-size: 1.8em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}